<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
</head>
<body>
    <h1>Stocks</h1>
    <p>Select one of the companies listed below to see the stock dashboard</p>
    <p>
        {% for entry in symbols.items() %}
        <a href={{url_for('dashboard', ticker=entry[1])}}>{{ entry[0] }}</a><br>
        {% endfor %}
    </p>

    <h1>Depots</h1>
    <p>
        {% for depot_name in depots %}
        <a href={{url_for('depot', depot_name=depot_name)}}>{{ depot_name }}</a><br>
        {% endfor %}
        <a href={{url_for('new_depot')}}>New depot</a><br>
    </p>
</body>
</html>